<launch>
	<node pkg="rtklib" type="rtkrcv" name="rtkrcv" args="-s -p 3000 -o $(find rtklib)/enu_single.conf"/>

	<node pkg="rtklib" type="enu_to_pose.py" name="enu_to_tf" output="screen">
		<param name="host" value="localhost"/>
		<param name="port" value="3333"/>
		<param name="publish_tf" value="true"/>
		<param name="base_frame_id" value="base_footprint"/>
	</node>
</launch>
